{:database {:auto-commit        true
            :read-only          false
            :connection-timeout 30000
            :validation-timeout 5000
            :idle-timeout       600000
            :max-lifetime       1800000
            :minimum-idle       10
            :maximum-pool-size  10
            :pool-name          "db-pool"
            :adapter            "postgresql"
            ;;:username         "If required, specify in a file outside the repository."
            ;;:password         "If required, specify in a file outside the repository."
            :database-name      "kosha"
            :server-name        "localhost"
            :port-number        5432
            :register-mbeans    false}
 :logging  {:level :debug}
 :cors     {:allowed-origins "http://localhost:3449"
            :allowed-methods "GET, POST, OPTIONS"}}
